
.open-sans-normal {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}

/* shared styles */
.secondary-bg{
    background-color: #FFF8F3;
}
.text-primary{
    color: #FD6E0A;
}
.dark-2{
    color: #474747;
}
.dark-3{
    color: #757575;
}
.section-title{
    font-size: 35px;
    font-weight: bold;
    color: #181818;
}
.section-description {
    font-size: 18px;
    color: #757575;
}

.btn-primary{
    background-color: #FD6E0A;
    font-size: 20px;
    font-weight: bold;
    color: white;
    border: none;
    padding: 18px 30px;
    border-radius: 5px;
}

/* header styles */
.header{
    background-image: url(../images/developer.png) , url(../images/header_bg.png);
    background-repeat: no-repeat;
    background-position: left top, right bottom;
}

/* Nav styles */
nav {
    display: flex;
    align-items: center;
    justify-content:space-around;
    /* margin: 0 200px; */

   
}
.nav-title{
    font-size:45px;
    font-weight: 800;
}
nav ul{
    display: flex;
    align-items: center;
}
nav ul li {
    list-style: none;
    margin-right: 51px;
}
nav li a {
    text-decoration: none;
    font-size: 20px;
}

/* Banner styles */
.banner{
    display: flex;
    justify-content: space-between;
    margin: 0 35px 0 200px;
}
.banner-container{
    max-width: 580px;
}
.banner-greetings {
    font-size: 45px;
    font-weight: 600;
}
.banner-title{
    font-size: 80px;
    font-weight: bold;
    color: #181818;
}
.banner-description{
    font-size: 18px;

}
.banner-profile-pic{
    width: 580px;
}

main{
    max-width: 1140px;
    margin: 0 auto;
}
/* about styles */
.about{
    border-radius: 10px;
    padding: 130px 150px;
    margin-top: 130px;
    text-align: center;
}
.about-items{
    display: flex;
    justify-content: space-around;
}
.item